.number-of-people {
    width: 50px;
    padding: 5px 8px;
    border-radius: 10px;
    background-color: black;
    position: fixed;
    bottom: 29px;
    right: 105px;
}

.number-of-people .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    background-color: red;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    padding: 0 3px;
}
